.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 201;
    position: fixed;


    
  }
  .formContainer{
    width: 400px;
    height: 415px;
    border-radius: 5px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    color: #555556;
    clip-path: polygon(0% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%);
    z-index: 305;
    text-align: center;
      
  }
  .carId{
    // top: 157px;
    border-radius: 5px;
    text-align: center;
  
  }
  .carPass{
     border-radius: 5px;
    text-align: center;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 65%;
    text-align: center;
    justify-content: space-between;

    header {
      height: 210px;
    }
    div:focus-within{
    border-color: lighten(#db5857,5%);
    }
    div{
       padding:3px;
       border:1px solid black;
       display:flex;
       align-items: center;
       margin-bottom:10px;
       border-radius: 5px;
       width: 190px;
       background-color: white;
   
       i{
         margin-right:5px;
         color: #555556;
         margin-left: 3px;
       }
     }
     
     input {
       height: 25px;
       border-radius: 5px;
       width: 100%;
       outline:none;
       border-style: none;
       border: 1px solid;
       font-size: .9rem;
     }
     button{
    margin-bottom:12px;
    background-color:#db5857;
    color: white;
    padding: 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 300px;
    font-size: 1rem;
    transition: .3s ease;

    &:hover{
      background-color:lighten(#db5857,5%);
    }
  }
  }
    .signupLink{
      font-weight: 500;
      cursor: pointer;
      color: #db5857;
      &:hover{
        color: darken(#db5857,15%);
      }
    }
    @media (max-width: 740px){
        
  .home{
    left: 6%;
    width: 70%;
  }
}

.error-container{
  width: 300px;
  height: 400px;
  background-color: white;
  p{
    font-size: .8rem;
    color: #db5857;
  }

}